*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'display';
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #abd699,  #12232E);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{

    background-color: #fff;
    width: 400px;
    height: 250px;
    border-radius: 7px;
    padding: 20px;
    transition: 0.1s;

}
h1{

    font-family: Copperplate, Fantasy;
    color: #a28089

}
p{
    font-family: Lucida Handwriting, Cursive;
    color: #ff0028;
    margin-top: 10px;


}



.header h1{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5x;
}
.header p{
    font-size: 16px;
    margin-bottom: 10px;

}

input, button{

    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 5px;
}
button{

    border: none;
    background-color: black;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

input{
    border: 1px solid #8b8a8a;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.qr-code{
    padding: 25px 0;
    border: 1px solid #cce;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}



.container.active{
    height: 490px;

}
.container.active .qr-code{
    opacity: 1;
    pointer-events: auto;

}











